*{
    margin: 0;
}
body {
    color: #353535;
    background-color: #06bff1;
    font-size: 0.8rem;
}



.min-h-100 {
    min-height: 100px;
}

.icon {
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    font-size: 18px;
}

.icon:hover {
    background-color: #bee1ff;
}
